In [1]:
import pandas as pd

In [58]:
data = pd.read_csv("Most-Recent-Cohorts-Field-of-Study.csv", index_col=0,header=0)

In [59]:
data.info(max_cols=160)

<class 'pandas.core.frame.DataFrame'>
Index: 233979 entries, 100654.0 to nan
Data columns (total 159 columns):
 #    Column                         Non-Null Count   Dtype
---   ------                         --------------   -----
 0    OPEID6                         233979 non-null  int64
 1    INSTNM                         233979 non-null  object
 2    CONTROL                        233979 non-null  object
 3    MAIN                           233979 non-null  int64
 4    CIPCODE                        233979 non-null  int64
 5    CIPDESC                        233979 non-null  object
 6    CREDLEV                        233979 non-null  int64
 7    CREDDESC                       233979 non-null  object
 8    IPEDSCOUNT1                    190104 non-null  float64
 9    IPEDSCOUNT2                    190264 non-null  float64
 10   DEBT_ALL_STGP_ANY_N            233979 non-null  object
 11   DEBT_ALL_STGP_ANY_MEAN         233979 non-null  object
 12   DEBT_ALL_STGP_ANY_MDN          233979 non-null  object
 13   DEBT_ALL_STGP_EVAL_N           233979 non-null  object
 14   DEBT_ALL_STGP_EVAL_MEAN        233979 non-null  object
 15   DEBT_ALL_STGP_EVAL_MDN         233979 non-null  object
 16   DEBT_ALL_PP_ANY_N              233979 non-null  object
 17   DEBT_ALL_PP_ANY_MEAN           233979 non-null  object
 18   DEBT_ALL_PP_ANY_MDN            233979 non-null  object
 19   DEBT_ALL_PP_EVAL_N             233979 non-null  object
 20   DEBT_ALL_PP_EVAL_MEAN          233979 non-null  object
 21   DEBT_ALL_PP_EVAL_MDN           233979 non-null  object
 22   DEBT_MALE_STGP_ANY_N           233979 non-null  object
 23   DEBT_MALE_STGP_ANY_MEAN        233979 non-null  object
 24   DEBT_MALE_STGP_ANY_MDN         233979 non-null  object
 25   DEBT_MALE_STGP_EVAL_N          233979 non-null  object
 26   DEBT_MALE_STGP_EVAL_MEAN       233979 non-null  object
 27   DEBT_MALE_STGP_EVAL_MDN        233979 non-null  object
 28   DEBT_MALE_PP_ANY_N             233979 non-null  object
 29   DEBT_MALE_PP_ANY_MEAN          233979 non-null  object
 30   DEBT_MALE_PP_ANY_MDN           233979 non-null  object
 31   DEBT_MALE_PP_EVAL_N            233979 non-null  object
 32   DEBT_MALE_PP_EVAL_MEAN         233979 non-null  object
 33   DEBT_MALE_PP_EVAL_MDN          233979 non-null  object
 34   DEBT_NOTMALE_STGP_ANY_N        233979 non-null  object
 35   DEBT_NOTMALE_STGP_ANY_MEAN     233979 non-null  object
 36   DEBT_NOTMALE_STGP_ANY_MDN      233979 non-null  object
 37   DEBT_NOTMALE_STGP_EVAL_N       233979 non-null  object
 38   DEBT_NOTMALE_STGP_EVAL_MEAN    233979 non-null  object
 39   DEBT_NOTMALE_STGP_EVAL_MDN     233979 non-null  object
 40   DEBT_NOTMALE_PP_ANY_N          233979 non-null  object
 41   DEBT_NOTMALE_PP_ANY_MEAN       233979 non-null  object
 42   DEBT_NOTMALE_PP_ANY_MDN        233979 non-null  object
 43   DEBT_NOTMALE_PP_EVAL_N         233979 non-null  object
 44   DEBT_NOTMALE_PP_EVAL_MEAN      233979 non-null  object
 45   DEBT_NOTMALE_PP_EVAL_MDN       233979 non-null  object
 46   DEBT_PELL_STGP_ANY_N           233979 non-null  object
 47   DEBT_PELL_STGP_ANY_MEAN        233979 non-null  object
 48   DEBT_PELL_STGP_ANY_MDN         233979 non-null  object
 49   DEBT_PELL_STGP_EVAL_N          233979 non-null  object
 50   DEBT_PELL_STGP_EVAL_MEAN       233979 non-null  object
 51   DEBT_PELL_STGP_EVAL_MDN        233979 non-null  object
 52   DEBT_PELL_PP_ANY_N             233979 non-null  object
 53   DEBT_PELL_PP_ANY_MEAN          233979 non-null  object
 54   DEBT_PELL_PP_ANY_MDN           233979 non-null  object
 55   DEBT_PELL_PP_EVAL_N            233979 non-null  object
 56   DEBT_PELL_PP_EVAL_MEAN         233979 non-null  object
 57   DEBT_PELL_PP_EVAL_MDN          233979 non-null  object
 58   DEBT_NOPELL_STGP_ANY_N         233979 non-null  object
 59   DEBT_NOPELL_STGP_ANY_MEAN      233979 non-null  object
 60   DEBT_NOPELL_STGP_ANY_MDN       233979 non-null  object
 61   DEBT_NOPELL_STGP_EVAL_N        233979 non-null  object
 62   DEBT_NOPELL_STGP_EVAL_MEAN     233979 non-null  object
 63   DEBT_NOPELL_STGP_EVAL_MDN      233979 non-null  object
 64   DEBT_NOPELL_PP_ANY_N           233979 non-null  object
 65   DEBT_NOPELL_PP_ANY_MEAN        233979 non-null  object
 66   DEBT_NOPELL_PP_ANY_MDN         233979 non-null  object
 67   DEBT_NOPELL_PP_EVAL_N          233979 non-null  object
 68   DEBT_NOPELL_PP_EVAL_MEAN       233979 non-null  object
 69   DEBT_NOPELL_PP_EVAL_MDN        233979 non-null  object
 70   DEBT_ALL_PP_ANY_MDN10YRPAY     233979 non-null  object
 71   DEBT_ALL_PP_EVAL_MDN10YRPAY    233979 non-null  object
 72   DEBT_ALL_STGP_ANY_MDN10YRPAY   233979 non-null  object
 73   DEBT_ALL_STGP_EVAL_MDN10YRPAY  233979 non-null  object
 74   EARN_COUNT_NWNE_HI_1YR         217880 non-null  object
 75   EARN_CNTOVER150_HI_1YR         217880 non-null  object
 76   EARN_COUNT_WNE_HI_1YR          217880 non-null  object
 77   EARN_MDN_HI_1YR                217880 non-null  object
 78   EARN_COUNT_NWNE_HI_2YR         213154 non-null  object
 79   EARN_CNTOVER150_HI_2YR         213154 non-null  object
 80   EARN_COUNT_WNE_HI_2YR          213154 non-null  object
 81   EARN_MDN_HI_2YR                213154 non-null  object
 82   BBRR2_FED_COMP_N               217880 non-null  object
 83   BBRR2_FED_COMP_DFLT            217880 non-null  object
 84   BBRR2_FED_COMP_DLNQ            217880 non-null  object
 85   BBRR2_FED_COMP_FBR             217880 non-null  object
 86   BBRR2_FED_COMP_DFR             217880 non-null  object
 87   BBRR2_FED_COMP_NOPROG          217880 non-null  object
 88   BBRR2_FED_COMP_MAKEPROG        217880 non-null  object
 89   BBRR2_FED_COMP_PAIDINFULL      217880 non-null  object
 90   BBRR2_FED_COMP_DISCHARGE       217880 non-null  object
 91   BBRR3_FED_COMP_N               217880 non-null  object
 92   BBRR3_FED_COMP_DFLT            217880 non-null  object
 93   BBRR3_FED_COMP_DLNQ            217880 non-null  object
 94   BBRR3_FED_COMP_FBR             217880 non-null  object
 95   BBRR3_FED_COMP_DFR             217880 non-null  object
 96   BBRR3_FED_COMP_NOPROG          217880 non-null  object
 97   BBRR3_FED_COMP_MAKEPROG        217880 non-null  object
 98   BBRR3_FED_COMP_PAIDINFULL      217880 non-null  object
 99   BBRR3_FED_COMP_DISCHARGE       217880 non-null  object
 100  EARN_COUNT_PELL_WNE_1YR        233979 non-null  object
 101  EARN_PELL_WNE_MDN_1YR          233979 non-null  object
 102  EARN_COUNT_NOPELL_WNE_1YR      233979 non-null  object
 103  EARN_NOPELL_WNE_MDN_1YR        233979 non-null  object
 104  EARN_COUNT_MALE_WNE_1YR        233979 non-null  object
 105  EARN_MALE_WNE_MDN_1YR          233979 non-null  object
 106  EARN_COUNT_NOMALE_WNE_1YR      233979 non-null  object
 107  EARN_NOMALE_WNE_MDN_1YR        233979 non-null  object
 108  EARN_COUNT_NE_3YR              217880 non-null  object
 109  EARN_NE_MDN_3YR                217880 non-null  object
 110  EARN_COUNT_WNE_3YR             217880 non-null  object
 111  EARN_CNTOVER150_3YR            217880 non-null  object
 112  EARN_COUNT_PELL_NE_3YR         217880 non-null  object
 113  EARN_PELL_NE_MDN_3YR           217880 non-null  object
 114  EARN_COUNT_NOPELL_NE_3YR       217880 non-null  object
 115  EARN_NOPELL_NE_MDN_3YR         217880 non-null  object
 116  EARN_COUNT_MALE_NE_3YR         217880 non-null  object
 117  EARN_MALE_NE_MDN_3YR           217880 non-null  object
 118  EARN_COUNT_NOMALE_NE_3YR       217880 non-null  object
 119  EARN_NOMALE_NE_MDN_3YR         217880 non-null  object
 120  EARN_COUNT_NWNE_1YR            233979 non-null  object
 121  EARN_COUNT_WNE_1YR             233979 non-null  object
 122  EARN_MDN_1YR                   233979 non-null  object
 123  EARN_GT_THRESHOLD_1YR          233979 non-null  object
 124  EARN_COUNT_HIGH_CRED_1YR       233979 non-null  object
 125  EARN_IN_STATE_1YR              233979 non-null  object
 126  EARN_COUNT_NWNE_4YR            233979 non-null  object
 127  EARN_COUNT_WNE_4YR             233979 non-null  object
 128  EARN_MDN_4YR                   233979 non-null  object
 129  EARN_GT_THRESHOLD_4YR          233979 non-null  object
 130  EARN_COUNT_PELL_WNE_4YR        233979 non-null  object
 131  EARN_PELL_WNE_MDN_4YR          233979 non-null  object
 132  EARN_COUNT_NOPELL_WNE_4YR      233979 non-null  object
 133  EARN_NOPELL_WNE_MDN_4YR        233979 non-null  object
 134  EARN_COUNT_MALE_WNE_4YR        233979 non-null  object
 135  EARN_MALE_WNE_MDN_4YR          233979 non-null  object
 136  EARN_COUNT_NOMALE_WNE_4YR      233979 non-null  object
 137  EARN_NOMALE_WNE_MDN_4YR        233979 non-null  object
 138  EARN_COUNT_HIGH_CRED_4YR       233979 non-null  object
 139  EARN_IN_STATE_4YR              233979 non-null  object
 140  BBRR1_FED_COMP_N               233979 non-null  object
 141  BBRR1_FED_COMP_DFLT            233979 non-null  object
 142  BBRR1_FED_COMP_DLNQ            233979 non-null  object
 143  BBRR1_FED_COMP_FBR             233979 non-null  object
 144  BBRR1_FED_COMP_DFR             233979 non-null  object
 145  BBRR1_FED_COMP_NOPROG          233979 non-null  object
 146  BBRR1_FED_COMP_MAKEPROG        233979 non-null  object
 147  BBRR1_FED_COMP_PAIDINFULL      233979 non-null  object
 148  BBRR1_FED_COMP_DISCHARGE       233979 non-null  object
 149  BBRR4_FED_COMP_N               233979 non-null  object
 150  BBRR4_FED_COMP_DFLT            233979 non-null  object
 151  BBRR4_FED_COMP_DLNQ            233979 non-null  object
 152  BBRR4_FED_COMP_FBR             233979 non-null  object
 153  BBRR4_FED_COMP_DFR             233979 non-null  object
 154  BBRR4_FED_COMP_NOPROG          233979 non-null  object
 155  BBRR4_FED_COMP_MAKEPROG        233979 non-null  object
 156  BBRR4_FED_COMP_PAIDINFULL      233979 non-null  object
 157  BBRR4_FED_COMP_DISCHARGE       233979 non-null  object
 158  DISTANCE                       233979 non-null  int64
dtypes: float64(2), int64(5), object(152)
memory usage: 285.6+ MB

In [60]:
data = data[['INSTNM', 'CIPDESC']]

In [61]:
data.columns =['NAME', 'MAJORS']

In [62]:
data.sample(10)

,NAME,MAJORS
UNITID,,
179159.0,Saint Louis University,"Business Administration, Management and Operat..."
166124.0,College of the Holy Cross,Statistics.
366252.0,Pennsylvania College of Technology,Entrepreneurial and Small Business Operations.
147776.0,Northeastern Illinois University,"Ethnic, Cultural Minority, Gender, and Group S..."
152637.0,Vincennes University,Special Education and Teaching.
219824.0,Chattanooga State Community College,Dental Support Services and Allied Professions.
418348.0,Eastern Oklahoma County Technology Center,Carpenters.
111920.0,Chabot College,"Human Development, Family Studies, and Related..."
213598.0,Lincoln University,Research and Experimental Psychology.
149772.0,Western Illinois University,Student Counseling and Personnel Services.

In [42]:
filtered = data[(data['NAME'] == 'Alabama A & M University') | (data['NAME'] == 'The Pennsylvania State University')]

In [44]:
filtered.to_json('2_cleaned.json', orient='records', lines=True)

In [11]:
type(data)

pandas.core.frame.DataFrame

In [17]:
data['INSTNM'].value_counts()

INSTNM
The Pennsylvania State University                          553
Pennsylvania State University-Main Campus                  523
University of Cincinnati-Main Campus                       472
University of Minnesota-Twin Cities                        449
Arizona State University Campus Immersion                  440
                                                          ...
Chamberlain University-California                            1
Chamberlain University-North Carolina                        1
Paul Mitchell the School-Gastonia                            1
Caribbean Aviation Training Institute Inc                    1
Avera McKennan Hospital School of Radiologic Technology      1
Name: count, Length: 7144, dtype: int64

In [45]:
filtered

,NAME,MAJORS
UNITID,,
100654.0,Alabama A & M University,"Agriculture, General."
100654.0,Alabama A & M University,Agricultural Business and Management.
100654.0,Alabama A & M University,Animal Sciences.
100654.0,Alabama A & M University,Food Science and Technology.
100654.0,Alabama A & M University,Food Science and Technology.
...,...,...
495767.0,The Pennsylvania State University,"Business, Management, Marketing, and Related S..."
495767.0,The Pennsylvania State University,"Business, Management, Marketing, and Related S..."
495767.0,The Pennsylvania State University,History.
495767.0,The Pennsylvania State University,History.
495767.0,The Pennsylvania State University,History.

In [55]:
import requests
import json

def search_school(api_key, school_name):
    base_url = 'https://api.data.gov/ed/collegescorecard/v1/'
    endpoint = 'schools'
    
    params = {
        'api_key': api_key,
        'school.name': school_name,
    }

    response = requests.get(f'{base_url}{endpoint}', params=params)

    if response.status_code == 200:
        data = response.json()
        results = data.get('results')

        if results:
            school_data = {}

            location_info = results[0].get('location')
            if location_info:
                school_data['latitude'] = location_info.get('lat')
                school_data['longitude'] = location_info.get('lon')

            latest_info = results[0].get('latest')
            if latest_info:
                school_data['programs'] = []

                programs_info = latest_info.get('programs')
                if programs_info:
                    cip_4_digit_info = programs_info.get('cip_4_digit', [])
                    for program in cip_4_digit_info:
                        program_info = {
                            'title': program.get('title'),
                            'level': program.get('credential', {}).get('title')
                        }
                        school_data['programs'].append(program_info)

                school_info = latest_info.get('school')
                if school_info:
                    school_data['zip_code'] = school_info.get('zip')
                    school_data['city'] = school_info.get('city')
                    school_data['state'] = school_info.get('state')
                    school_data['address'] = school_info.get('address')
                    school_data['school_url'] = school_info.get('school_url')
                    school_data['online_only'] = 'Yes' if school_info.get('online_only') == 1 else 'No'

                    cost_info = latest_info.get('cost')
                    if cost_info:
                        school_data['book_supply_cost'] = cost_info.get('booksupply')
                        school_data['in_state_tuition'] = cost_info.get('tuition', {}).get('in_state')
                        school_data['out_of_state_tuition'] = cost_info.get('tuition', {}).get('out_of_state')

                    admissions_info = latest_info.get('admissions')
                    if admissions_info:
                        school_data['act_scores'] = admissions_info.get('act_scores', {}).get('midpoint', {})
                        school_data['sat_scores'] = admissions_info.get('sat_scores', {}).get('midpoint', {})

            with open('school_data.json', 'w') as json_file:
                json.dump(school_data, json_file, indent=2)

            print("Data successfully written to 'school_data.json'.")
        else:
            print(f"No results found for '{school_name}'.")
    else:
        print(f"Error: {response.status_code} - {response.text}")

def main():
    api_key = 'kK3BZnAbjkyuoZuB4BW2VapEPB7Z0giWOkm8uKb4'
    
    school_name = ['The Pennsylvania State University', 'Alabama A & M University']
    #school_name = input("Enter the name of the school: ")
    for school in school_name:
        print(school)
        search_school(api_key, school)

if __name__ == "__main__":
    main()

The Pennsylvania State University
Data successfully written to 'school_data.json'.
Alabama A & M University
Data successfully written to 'school_data.json'.

## Working Code

In [57]:
import json

def update_geojson_with_extra_info(school_data_file, geojson_file, output_geojson_file):
    try:
        # Load the school data JSON file
        with open(school_data_file, 'r') as file:
            school_data = json.load(file)

        # Load the geojson file
        with open(geojson_file, 'r') as file:
            geojson_data = json.load(file)

        # Extract latitude and longitude from school_data
        latitude = school_data.get('latitude')
        longitude = school_data.get('longitude')

        # Function to find the matching feature in the geojson file based on latitude and longitude
        def find_matching_feature(geojson, latitude, longitude, threshold=0.001):
            for feature in geojson['features']:
                if 'geometry' in feature and 'coordinates' in feature['geometry']:
                    lon, lat = feature['geometry']['coordinates']
                    if abs(lat - latitude) <= threshold and abs(lon - longitude) <= threshold:
                        return feature
            return None

        # Find the matching feature in the geojson
        matching_feature = find_matching_feature(geojson_data, latitude, longitude)

        # Check if a matching feature was found and update it
        if matching_feature:
            # Append the additional information from school_data to the properties of the matching feature
            matching_feature['properties'].update(school_data)

            # Save the updated geojson data to a new file
            with open(output_geojson_file, 'w') as file:
                json.dump(geojson_data, file)

            return "Update successful."
        else:
            return "No matching feature found in the geojson file."

    except Exception as e:
        return str(e)

# Example usage
school_data_filename = input('the name of school_data.json')
geojson_filename = input('the name of the big Geo json that you have')
output_geojson_filename = input('the name of the new geo file')

# Call the function with the provided file names
update_status = update_geojson_with_extra_info(school_data_filename, geojson_filename, output_geojson_filename)
print(update_status)

the name of school_data.jsonschool_data.json
the name of the big Geo json that you havef.json
the name of the new geo filenew.json
Extra data: line 2238 column 2 (char 59022)

In [83]:
import json

def update_geojson_with_multiple_schools(schools_data_file, geojson_file, output_geojson_file):
    try:
        # Load the schools data JSON file
        with open(schools_data_file, 'r') as file:
            all_schools_data = json.load(file)

        # Load the geojson file
        with open(geojson_file, 'r') as file:
            geojson_data = json.load(file)

        # Function to find the matching feature in the geojson file based on latitude and longitude
        def find_matching_feature(geojson, latitude, longitude, threshold=0.001):
            for feature in geojson['features']:
                if 'geometry' in feature and 'coordinates' in feature['geometry']:
                    lon, lat = feature['geometry']['coordinates']
                    if lat is not None and lon is not None and latitude is not None and longitude is not None:
                        if abs(lat - latitude) <= threshold and abs(lon - longitude) <= threshold:
                            return feature
            return None


        # Process each school in the schools data file
        for school_data in all_schools_data:
            latitude = school_data.get('latitude')
            longitude = school_data.get('longitude')
            matching_feature = find_matching_feature(geojson_data, latitude, longitude)

            # Check if a matching feature was found and update it
            if matching_feature:
                matching_feature['properties'].update(school_data)

        # Save the updated geojson data to a new file
        with open(output_geojson_file, 'w') as file:
            json.dump(geojson_data, file)

        return "Update successful for all schools."

    except Exception as e:
        return str(e)

# Example usage
school_data_filename = input('the name of school_data.json')  # Replace with your file path
geojson_filename = input('the name of the big Geo json that you have')  # Replace with your file path
output_geojson_filename = input('the name of the new geo file')  # Replace with your desired output file path

# Call the function with the provided file names
update_status = update_geojson_with_multiple_schools(school_data_filename, geojson_filename, output_geojson_filename)
print(update_status)

the name of school_data.jsonall_schools_data.json
the name of the big Geo json that you havef.json
the name of the new geo filenew.json
Update successful for all schools.